
{{! This is the post loop - each post will be output using this markup }}

<articles class="container center-block">
  <ul class="posts">
  {{#foreach posts}}
    <li class="post-item">
      {{#if isVideo}}
      <div class="isVideo icon-play desktop-display"></div>
      {{/if}}
      <a href="{{url}}" target="_blank">
        <img class="post-image left desktop-display lazy" data-original="{{image}}">
        <h2 class="post-title">{{title}}</h2>
      </a>
      <div class="post-meta">
        {{#if author.image}}<img class="avatar lazy" data-original="{{author.image}}" alt="Author image">{{/if}}
        {{author}}
        <time class="publish-time" datetime="{{date published_at timeago="ture"}}">
          <span class="desktop-display">•</span>{{date published_at timeago="ture"}}
        </time>
        {{#if isVideo}}
          <span class="count icon-view">{{video_play_count}}</span>
        {{else}}
          <span class="count icon-heart">{{post_star}}</span>
        {{/if}}
      </div>
      <p class="post-description desktop-display">
        {{#if post_desc}}
          {{post_desc}}
        {{else}}
          {{excerpt words="30"}}
        {{/if}}
      </p>
    </li>
  {{/foreach}}
  </ul>
</articles>
