
{{#topic}}
  {{#if post}}
    {{#post}}
      <a class="topic-wrapper" href="{{slug}}" target="_blank">
        <img class="topic-img lazy" data-original="{{image}}" alt="{{title}}" />
        <span class="topic-title">{{title}}</span>
      </a>
    {{/post}}
  {{else}}
    <a class="topic-wrapper" href="{{siteUrl}}" target="_blank">
      <img class="topic-img lazy" data-original="{{img}}" alt="{{title}}" />
      <span class="topic-title">{{title}}</span>
    </a>
  {{/if}}
{{/topic }}
