{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="{{asset "css/index.css" }}">
  <link rel="stylesheet" href="{{asset "css/navbar.css" }}">
{{/contentFor}}

{{#author}}
<div class="bg-header" style="margin-bottom: 70px;">
  <div class="bg-cover">
    <img class="lazy" data-original="{{@blog.cover}}">
  </div>
  <section class="author-profile">
    {{#if image}}
      <img class="author-avatar" src="{{image}}" alt="{{name}} avatar" />
    {{/if}}
    <h1 class="author-name">{{name}}</h1>
    <h2 class="author-bio">{{bio}}</h2>
  </section>
</div>
{{/author}}

{{> "loop"}}

{{pagination}}
