{{!< default}}
{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="/assets/less/weibo.css"/>
{{/contentFor}}

<div class="weibo">
    {{#post}}
      <div class="wb-bg-img-small">
        <img src="{{image}}"/>
      </div>
      <div class="wb-post-info wb-container">
        <p class="wb-title">{{title}}</p>
        <span class="wb-author">{{author}} • <time class="wb-post-time">{{date published_at timeago="ture"}}</time></span>
      </div>
      <div class="wb-post-content wb-container">
        {{contentNoLazy}}
        <div class="wb-desc">
          <img src="/assets/images/weibo-foot.png" alt="简单 有趣 有价值"/>
        </div>
      </div>
    {{/post}}
</div>
{{#contentFor "pageScripts"}}
  <script>
    $('#footer').css('display', 'none');
  </script>
{{/contentFor}}