{{!< default}}
{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="{{asset "css/index.css" }}">
  <link rel="stylesheet" href="{{asset "css/navbar.css" }}">
{{/contentFor}}

{{> "navbar"}}

{{> "header"}}

<div class="content-wrapper">
  <div class="container center-block">
    <ul class="topics desktop-display">
      <li class="topic-item-left left">
         {{index_topic data="topic1"}}
      </li>
      <li class="topic-item-right">
      {{index_topic data="topic2"}}
      </li>
    </ul>
  </div>

  {{> "loop"}}

  {{pagination type="page"}}
</div>
