{{!< default}}
{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="{{asset "css/index.css" }}">
  <link rel="stylesheet" href="{{asset "css/navbar.css" }}">
{{/contentFor}}

{{> "header"}}

<articles class="container center-block">
  <ul class="topics desktop-display">
    <li class="topic-item-left left">
      <a class="topic-wrapper" href="{{url}}" target="_blank">
        <img class="topic-img lazy" data-original="{{asset "images/header.jpg"}}" alt="">
        <span class="topic-title">今晚吃什么今晚吃什么</span>
      </a>
    </li>
    <li class="topic-item-right">
      <a class="topic-wrapper" href="{{url}}" target="_blank">
        <img class="topic-img lazy" data-original="{{asset "images/header.jpg"}}" alt="">
        <span class="topic-title">今晚吃什么今晚吃什么</span>
      </a>
    </li>
  </ul>
</articles>

{{> "loop"}}

{{pagination type="page"}}

<script src="{{asset "js/classie.js"}}"></script>
<script src="{{asset "js/navbarScroll.js"}}"></script>
